body{
    background-color: $kaki;
    main{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;

    article{
            border: solid transparent 5px;
            background-color: rgb(102, 50, 50);
            margin: 2%;
            padding: 2%;
            width: 360px;
            height: 480px;
            border-radius: 20px;
            @include box-shadow;
            color: rgb(234, 217, 248);
            text-align: center;
                &:hover {
                    transform: scale(1.1);
                }
            .nom{
                font-size: 1.5rem;
                padding: 6%;
            }
            .description{
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                
                &:hover {
                    overflow: hidden;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                }
                
            }
            .img{
                width: 180px;
                height: 180px;
                &:hover {
                    transform:  scale(1.1);
                
                    
                }
            }
            button {
                border-style: none;
                margin: 6%;
                font-size: large;
                width: 35%;
                border-radius: 5%;
                height: 10%;
                cursor: pointer;
            }
            .buttonedit {
                cursor: cell;
                background-color: $backColorFoot;
                &:hover {
                    background-color: rgb(143, 143, 206);
                    transform: scale(1.2);
                }
            }   
            .buttondelete {
                cursor: not-allowed;
                background-color: $kaki;
                &:hover {
                    background-color:$red;
                    transform: scale(1.2);
                }
            }
        }
    }
}