footer {
  & .container {
    display: flex;
    padding: 10px;
     & .contact_container {
      flex-direction: column;
      
       & .contact {
        margin: 10px;
        width: 40vw;
        height: 25vw;
        text-align: center;
        background-color: $backColorDiv;
        padding-top: 5vw;
         & img {
          margin-bottom: 2vw;
         }
         & p {
          background-color: $white;
          padding-top: 0.5vw;
          margin: 0vw 2vw;
         }
         & ul {
          background-color: $white;
          margin: 2vw;
          padding: 1vw;
         }
       }
     }
     & .align-right {
      background-color: red;
      
     }
  }
}