    .nav{
        width: 100%;
        @include row-spacebetween;
        @include co-ka;
        padding: 2%;
        .h1{
            font-size: 2.5rem;
            text-transform: uppercase;
            margin-left: 1%;
            color: $orangefonce;
        }
        .lien-nav{
            color: $orangefonce;
            border: solid $orangefonce 1px;
            border-radius: 10px;
            text-transform: uppercase;
            width: 10%;
            text-align: center;
            padding: 15px;
            &:hover{
                transform: scale(1.2);
                background-color: $orangefonce;
                color: $kaki;
            }
        }
    }

    @media screen and (max-width:765px){
        .nav{
            .h1{
                font-size: 2rem;
                padding: 1%;
            }
            .lien-nav{
                width: 20%;
            }
        }
    }    
    @media screen and (max-width:450px){
        .nav{
            .h1{
                font-size: 1.5rem;
                padding:3%;
            }
            .lien-nav{
                width: 30%;
            }
        }
    }