// mixin flex

    @mixin row-spacebetween{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @mixin row-spacearound{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    @mixin column{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    /*@mixin column-spacearound{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }*/

// mixin variables

    @mixin co-ka{
        background: linear-gradient($corail,$kaki);
    }

    @mixin ka-co{
        background: linear-gradient($kaki,$corail);
    }

    @mixin box-shadow{
        box-shadow: -2px 5px 10px 0px $orangefonce;
        -webkit-box-shadow: -2px 5px 10px 0px $orangefonce;
        -moz-box-shadow: -2px 5px 10px 0px $orangefonce; 
    }

    @mixin footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border: solid $orangefonce 2px;
        border-radius: 25px;
        margin:5%;
        padding: 2%;
    }

    @mixin footer2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }